body{
    background-image: url(/pexels-roman-odintsov-4551971.jpg);
    max-width: 100%;
    height: auto;
}

h1{
    background-color: rgb(221, 129, 143);
    border: 3px: solid black;
    color: black;
    text-align: center;
    font-size: 50px;
    font-family: jokerman;
    border-style: double;
    border-width: 15px;
    font-size::after;
    text-transform: uppercase;
    border-radius: 50px;

}


.card{
    color: rgb(244, 22, 22);
    font-family: jokerman;
}

.content{
    color: rgb(11, 11, 10);
    font-size: small;
    text-transform: uppercase;
    border: 2px solid;
    border-radius: 50px;
    background-color: lightslategray;
    .imageis-48x48:;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-family: jokerman;
    
}

main{
    background-color: rgb(222, 135, 77);
    border: 3px: solid black;
    color: black;
    text-align: center;
    font-size: 150%;
    font-family: jokerman;
    border-style: double;
    border-width: 15px;
    font-size::after;
    text-transform: uppercase;
    border-radius: 50px;

}

a{
    color: rgb(235, 42, 42);
    border-radius: 50px;
    font-size: 20px;
    -webkit-border-radis: 5000px;
    -moz-border-radius: 5000px;
    -ms-border-radius: 5000px;
    -o-border-radius: 5000px;
    -webkit-border-radius: 5000px;
}